@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background: 0 0% 7%;
  --foreground: 0 0% 99%;
  --muted: 0 0% 40%;
  --foreground-overlay: 0 0% 1%;
  --primary: 204 47% 28%;

}

@layer base{
  body {
    background-image: url('https://res.cloudinary.com/dn7lqpl1x/image/upload/v1631080208/wrapped_k7g6ev.svg');
    background-color: #121212;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-shadow {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
  }
  .hover_underline{
    @apply relative before:content-[''] hover:before:w-full before:transition-all before:absolute before:w-0 before:h-0.5 before:duration-300 before:bg-foreground before:left-0 before:bottom-0 before:right-0 before:mx-auto
  }

}
